<!DOCTYPE html>
<html>
  <head>
    <title>Ironhack Trips</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ironhack Trips</h1>
    <p>Welcome to Ironhack Trips</p>
    <a href="/auth/facebook">Login With Facebook</a>
    <!-- <li><a href="/signup">Signup</a></li>
    <li><a href="#">Profile</a></li> -->
  </body>
</html>
