<h2>Showing Trip</h2>

<div class="">
  <%= trip.destination %> <br>
  <%= trip.description %> <br>
  <img src="<%= trip.pic_path %>" width="200px;">
</div>
<a href="/profile/<%= trip.user_id %>">Back</a>
